* {

    font-family: "Playfair", serif;
    font-weight: 400;
    font-style: normal;
}

.card-text {
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;

    color: rgb(78, 76, 76);
    font-style: normal;
}

.full-container {
    background-color: #F7EEDE;
}

.first-nav {
    font-family: "Antarcticana", sans-serif;
    color: gray;
    border-bottom: 1px solid black;
}

.second-nav {
    display: flex;
    justify-content: space-around;
    /* or center if you adjust spacing manually */
    align-items: center;

}

.nav-middle {
    flex: 1;
    text-align: center;
}

.nav-left,
.nav-right {

    flex: 1;

}

.nav-left ul li a {
    text-decoration: none;
    color: #494747;

}

.nav-right ul li a {
    text-decoration: none;
    color: #494747;

}

.layer-headings {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



/* hero section */

.hero-section {
    position: relative;
}

.layer-headings h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 700;
    letter-spacing: 2px;
}

.layer-headings h3 {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    font-weight: 500;
}




.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* menu section */

.menu-section {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.menu-item {
    background-color: rgba(128, 128, 128, 0.244);


}

.menu-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    cursor: pointer;
}

.menu-item img:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease;
}




/* re */
.product-display h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-display .card {
    background-color: #DAD3C7;
    transition: transform 0.3s ease;
}

.product-display .card:hover {
    transform: scale(1.01);
}

/* card */
.card {
    border-radius: 20px !important;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

/* tending section */

.trending-section {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* product modal */
#productModal h2 {
    font-size: clamp(1.5rem, 3vw, 2.8rem);
}

#productModal h3 {
    font-size: clamp(1.3rem, 2vw, 2rem);
}

#productModal img {
    object-fit: contain;
}

.size-guide {
    border-top: 1px solid #0000004d;
}

.faq,
.size-guide {
    border-bottom: 1px solid #0000004d;
}

.return-policy {
    border-bottom: 1px solid #0000004d;
}

/*  */

/* hide modal by default */