.full-container {
    background-color: #F7EEDE;
}

.first-nav {
    font-family: "Antarcticana", sans-serif;
    color: gray;
    border-bottom: 1px solid black;
}

.second-nav {
    display: flex;
    justify-content: space-around;
    /* or center if you adjust spacing manually */
    align-items: center;

}

.nav-middle {
    flex: 1;
    text-align: center;
}

.nav-left,
.nav-right {
    flex: 1;

}

.nav-left ul li a {
    text-decoration: none;
    color: black;

}

.nav-right ul li a {
    text-decoration: none;
    color: black;

}

.layer-headings {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* menu section */

.menu-section {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.menu-item {
    background-color: rgba(128, 128, 128, 0.244);


}

.menu-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    cursor: pointer;
}

.menu-item img:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease;
}




/* re */
.product-display h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-display .card {
    background-color: #DAD3C7;
    transition: transform 0.3s ease;
}

.product-display .card:hover {
    transform: scale(1.05);
}


/* tending section */

.trending-section{
    padding-top: 50px;
    padding-bottom: 20px;
    
}